AlgoTraderSite/Service References/Strategy.Client/ATStrategySvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/AlgoTrader/services/ATStrategySvc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="QuoteMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="QuoteId" type="xs:int" />
      <xs:element minOccurs="0" name="SymbolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteMessage" nillable="true" type="tns:QuoteMessage" />
  <xs:complexType name="StrategySummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsOf" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentSignal" type="tns:StrategySignal" />
      <xs:element minOccurs="0" name="SymbolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StrategySummary" nillable="true" type="tns:StrategySummary" />
  <xs:simpleType name="StrategySignal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Buy" />
      <xs:enumeration value="Sell" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StrategySignal" nillable="true" type="tns:StrategySignal" />
  <xs:complexType name="StrategyDetail">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="History_Series_1" nillable="true" type="q1:ArrayOfKeyValueOfdateTimedouble" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="History_Series_2" nillable="true" type="q2:ArrayOfKeyValueOfdateTimedouble" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="History_Series_3" nillable="true" type="q3:ArrayOfKeyValueOfdateTimedouble" />
      <xs:element minOccurs="0" name="Metric_1" type="xs:double" />
      <xs:element minOccurs="0" name="Metric_1_Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metric_2" type="xs:double" />
      <xs:element minOccurs="0" name="Metric_2_Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metric_3" type="xs:double" />
      <xs:element minOccurs="0" name="Metric_3_Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SymbolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StrategyDetail" nillable="true" type="tns:StrategyDetail" />
</xs:schema>