AlgoTraderSite/Service References/Strategy.Client/ATStrategySvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/AlgoTrader/services/ATStrategySvc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" />
  <xs:element name="NewQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" minOccurs="0" name="quote" nillable="true" type="q1:QuoteMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startWatching">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startWatchingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startWatchingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stopWatching">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stopWatchingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stopWatchingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" minOccurs="0" name="getSummaryResult" nillable="true" type="q2:StrategySummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDetailedAnalysis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDetailedAnalysisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" minOccurs="0" name="getDetailedAnalysisResult" nillable="true" type="q3:StrategyDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>