AlgoTraderSite/Service References/Strategy.Client/ATStrategySvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QuoteMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="QuoteId" type="xs:int" />
      <xs:element minOccurs="0" name="SymbolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteMessage" nillable="true" type="tns:QuoteMessage" />
  <xs:complexType name="StrategySummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsOf" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentSignal" type="tns:StrategySignal" />
      <xs:element minOccurs="0" name="SymbolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StrategySummary" nillable="true" type="tns:StrategySummary" />
  <xs:simpleType name="StrategySignal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Buy" />
      <xs:enumeration value="Sell" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StrategySignal" nillable="true" type="tns:StrategySignal" />
</xs:schema>