AlgoTraderSite/Service References/Strategy.Client/ThreeDucksStrategy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ThreeDucksStrategy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/AlgoTrader/services/ATStrategySvc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/AlgoTrader/services/ATStrategySvc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/AlgoTrader/services/ATStrategySvc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" />
      <xsd:import schemaLocation="http://localhost:8000/AlgoTrader/services/ATStrategySvc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStrategy_NewQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:NewQuote" />
  </wsdl:message>
  <wsdl:message name="IStrategy_startWatching_InputMessage">
    <wsdl:part name="parameters" element="tns:startWatching" />
  </wsdl:message>
  <wsdl:message name="IStrategy_startWatching_OutputMessage">
    <wsdl:part name="parameters" element="tns:startWatchingResponse" />
  </wsdl:message>
  <wsdl:message name="IStrategy_stopWatching_InputMessage">
    <wsdl:part name="parameters" element="tns:stopWatching" />
  </wsdl:message>
  <wsdl:message name="IStrategy_stopWatching_OutputMessage">
    <wsdl:part name="parameters" element="tns:stopWatchingResponse" />
  </wsdl:message>
  <wsdl:message name="IStrategy_getSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:getSummary" />
  </wsdl:message>
  <wsdl:message name="IStrategy_getSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IStrategy_getDetailedAnalysis_InputMessage">
    <wsdl:part name="parameters" element="tns:getDetailedAnalysis" />
  </wsdl:message>
  <wsdl:message name="IStrategy_getDetailedAnalysis_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDetailedAnalysisResponse" />
  </wsdl:message>
  <wsdl:portType name="IStrategy">
    <wsdl:operation name="NewQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IStrategy/NewQuote" message="tns:IStrategy_NewQuote_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="startWatching">
      <wsdl:input wsaw:Action="http://tempuri.org/IStrategy/startWatching" message="tns:IStrategy_startWatching_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStrategy/startWatchingResponse" message="tns:IStrategy_startWatching_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="stopWatching">
      <wsdl:input wsaw:Action="http://tempuri.org/IStrategy/stopWatching" message="tns:IStrategy_stopWatching_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStrategy/stopWatchingResponse" message="tns:IStrategy_stopWatching_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IStrategy/getSummary" message="tns:IStrategy_getSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStrategy/getSummaryResponse" message="tns:IStrategy_getSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDetailedAnalysis">
      <wsdl:input wsaw:Action="http://tempuri.org/IStrategy/getDetailedAnalysis" message="tns:IStrategy_getDetailedAnalysis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStrategy/getDetailedAnalysisResponse" message="tns:IStrategy_getDetailedAnalysis_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStrategy" type="tns:IStrategy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewQuote">
      <soap:operation soapAction="http://tempuri.org/IStrategy/NewQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="startWatching">
      <soap:operation soapAction="http://tempuri.org/IStrategy/startWatching" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stopWatching">
      <soap:operation soapAction="http://tempuri.org/IStrategy/stopWatching" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSummary">
      <soap:operation soapAction="http://tempuri.org/IStrategy/getSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailedAnalysis">
      <soap:operation soapAction="http://tempuri.org/IStrategy/getDetailedAnalysis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThreeDucksStrategy">
    <wsdl:port name="BasicHttpBinding_IStrategy" binding="tns:BasicHttpBinding_IStrategy">
      <soap:address location="http://localhost:8000/AlgoTrader/services/ATStrategySvc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>