AlgoTraderSite/Service References/Portfolio.Client/PortfolioManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="positionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Open" />
      <xs:enumeration value="Closed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="positionStatus" nillable="true" type="tns:positionStatus" />
  <xs:simpleType name="tradeStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="Closed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="tradeStatus" nillable="true" type="tns:tradeStatus" />
  <xs:simpleType name="tradeTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Buy" />
      <xs:enumeration value="Sell" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="tradeTypes" nillable="true" type="tns:tradeTypes" />
  <xs:complexType name="ArgumentExceptionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgumentExceptionFault" nillable="true" type="tns:ArgumentExceptionFault" />
  <xs:complexType name="InsufficientQuantityFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedQuantity" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsufficientQuantityFault" nillable="true" type="tns:InsufficientQuantityFault" />
  <xs:complexType name="AllocationViolationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllocationViolationFault" nillable="true" type="tns:AllocationViolationFault" />
  <xs:complexType name="InsufficientFundsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableAmount" type="xs:double" />
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsufficientFundsFault" nillable="true" type="tns:InsufficientFundsFault" />
</xs:schema>