AlgoTraderSite/Service References/UserAgent.Client/UserAgent2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="tradeTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Buy" />
      <xs:enumeration value="Sell" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="tradeTypes" nillable="true" type="tns:tradeTypes" />
  <xs:simpleType name="responseCodes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Accept" />
      <xs:enumeration value="Reject" />
      <xs:enumeration value="Pending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="responseCodes" nillable="true" type="tns:responseCodes" />
  <xs:complexType name="ArrayOfAlertMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlertMessage" nillable="true" type="tns:AlertMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlertMessage" nillable="true" type="tns:ArrayOfAlertMessage" />
  <xs:complexType name="AlertMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="tns:responseCodes" />
      <xs:element minOccurs="0" name="SentTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SymbolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" type="tns:tradeTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertMessage" nillable="true" type="tns:AlertMessage" />
</xs:schema>