AlgoTraderSite/Service References/UserAgent.Client/UserAgent1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1244/services/useragent/UserAgent.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" />
  <xs:element name="generateAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" minOccurs="0" name="type" type="q1:tradeTypes" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="price" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alertID" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" minOccurs="0" name="alertResponseCode" type="q2:responseCodes" />
        <xs:element minOccurs="0" name="alertResponse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendingAlerts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendingAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AlgoTrader.Interfaces" minOccurs="0" name="getPendingAlertsResult" nillable="true" type="q3:ArrayOfAlertMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>