AlgoTrader/Service References/portfolio.Client/PortfolioManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1244/services/portfolio/PortfolioManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlgoTrader.portfolio" />
  <xs:element name="GetOpenPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlgoTrader.portfolio" minOccurs="0" name="GetOpenPositionsResult" nillable="true" type="q1:ArrayOfPositionMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SymbolName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AlgoTrader.portfolio" minOccurs="0" name="GetPositionResult" nillable="true" type="q2:PositionMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sellResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="buy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="symbolName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableCash">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableCashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAvailableCashResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>